header {
    height: 800px;
    // background-image: url("../images/header-img.jpg");
    background: linear-gradient(
        rgba(5, 5, 5, 0),
        rgba(230, 227, 227, 0.459),
        rgba(255, 255, 255, 0)
    ),
    url("../images/header-img.jpg");
    background-position: top;
    background-attachment: fixed;
    background-size: cover;    

    .navigation {
        position: fixed;
        left: 0; right: 0;
        z-index: 1;

        .bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                display: flex;
                align-items: center;
                color: white;
                padding: .4em 0;
                margin-left: 45px;
                user-select: none;
                img {
                    height: 100px;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                color: @primary-color;
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        margin: 0 10px;
                        a {
                            color: @primary-color;
                            font-size: 1.28rem;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        transition: transform .4s;
                        &:hover {
                            transform: scale(1.1) translate(0,-4px);
                        }
                    }
                }
            }

        }
    }

    .hero {
        .goal {
            display: flex;
            text-align: center;
            align-items: center;
            height: 800px;
            p {
                border-radius: 10px;
                font-size: 2.1rem;
                color: @primary-color;
                margin: 0 auto;
                width: 70vw;
                word-wrap: break-word;
                // background-color: rgba(252, 252, 252, 0.336);
            }
        }
    }

}